/*  AcqInfo Styles */

/* margin : defines space outside element
 * padding : defines space inside element  */

html, body, #contents {
   min-height: 100%;
   width: 100%;
   height: 100%;
}

html>body, html>body #contents {
   height: auto;
}

body {
   margin: 0;
}

#contents {
   position: absolute;
   top: 0;
   left: 0;
}

.acqInfo {
   font-family: Monospaced, Sans-Serif;
   font-size: medium;
}

#acqHeaderTabs {
   width: auto;
   margin-top: 10px;
   margin-right: 5px;
   margin-bottom: 5px;
   margin-left: 5px;
}

p.acqHeader {
   padding-top: 0.25em;
   padding-right: 2em;
   padding-bottom: 0;
   padding-left: 2em;
   font-weight: bold;
   font-size: large;
}

p.acqDetail {
   padding-top: 0;
   padding-right: 2em;
   padding-bottom: 0;
   padding-left: 2em;
}

a.acqLink {
   color : blue;
}

a.acqLink:hover {
   color : red;
}

tr.template1, tr.template2 {
   display: none;
}

tr.template3, tr.template4 {
   display: none;
}

tr.dataRow {
   width: 100%;
}

td.tdHead {
   font-size: small;
   text-align: left;
   font-weight: bold;
   padding-top: 0;
   padding-right: 2em;
   padding-bottom: 0;
   padding-left: 3em;
}

td.tdData {
   font-size: medium;
   text-align: left;
   padding-top: 0;
   padding-right: 4em;
   padding-bottom: 0;
   padding-left: 0.25em;
}

td.tdHeadMin {
   font-size: small;
   text-align: left;
   font-weight: bold;
   padding-top: 0;
   padding-right: 2em;
   padding-bottom: 0;
   padding-left: 1em;
}

td.tdDataMin {
   font-size: small;
   text-align: left;
   padding-top: 0;
   padding-right: 3em;
   padding-bottom: 0;
   padding-left: 0.25em;
}

pre.dataMod, span.dataMod {
   color: blue;
}

#footer {
   position: absolute;
   bottom: 0;
   right: 1.75em;
   width: 99%;
}

#acqFooter {
   border: 1px solid #dddddd;
   width: 100%;
   margin-top: 0.25em;
   margin-right: 2em;
   margin-bottom: 0.5em;
   margin-left: 1.5em;;
   padding: 0;
   font-size: 90%;
}

td.acqFootL {
   border: 1px solid #dddddd;
   text-align: left;
}
td.acqFootC {
   border: 1px solid #dddddd;
   width: 10%;
   text-align: center;
}
td.acqFootR {
   border: 1px solid #dddddd;
   width: 10%;
   text-align: right;
}
td.acqFootS {
   border: 1px solid #dddddd;
   width: 40%;
   text-align: left;
}

.progress {
   color: blue;
   text-decoration: blink;
}

.errMessage {
   color: red;
}

.sslBanner{
   padding: 10px;
   border: 1px solid black;
   margin: 6px;
   background-color: #dddddd;
}

td.acqFoot {
   border: 1px solid #dddddd;
   position: relative;
   padding: 0;
   width: auto;
   white-space: nowrap;
   box-sizing: border-box;
}
#diagnostics-button {
   flex: 1;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   cursor: pointer;
}
#diagnostics-button svg {
   height: 24px;
   width: auto;
   display: block;
}
#diagnostics-button:hover {
   background-color: rgba(0, 0, 0, 0.1);
}